
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.css">
        <link rel="stylesheet" href="stylesheets/jquery.fancybox.min.css">
        <link rel="stylesheet" href="stylesheets/custom.css">
    </head>
    <body>
    <div id="content" class="content">
        <div id="log">
            <!--<?php echo $links; ?>-->
        </div>
        <div class="containter-fluid menu">
            <ul class="nav nav-fill">
              <li><a class="nav-link" href="#">Ofertas</a></li>
              <li><a class="nav-link" href="#">Sucursales</a></li>
              <li><a class="nav-link" href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="containter-fluid menu">
            <ul class="nav nav-fill">
              <li><a class="nav-link" href="catalogo.php?categoria_id=1&categoria=Televisores">Televisores</a></li>
              <li><a class="nav-link" href="catalogo.php?categoria_id=2&categoria=Notebooks">Notebooks</a></li>
              <li><a class="nav-link" href="catalogo.php?categoria_id=6&categoria=Heladeras">Heladeras</a></li>
              <li><a class="nav-link" href="catalogo.php?categoria_id=3&categoria=Lavarropas">Lavarropas</a></li>
              <li><a class="nav-link" href="catalogo.php?categoria_id=4&categoria=Consolas">Consolas</a></li>
            </ul>
        </div>

        <div id="productos">
            <div class="row">
              <%= JSON.stringify(productos); %>

            </div>


        </div>

    </div>

        <script src="javascripts/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>

        <script src="javascripts/jquery.fancybox.min.js"></script>
        <script src="javascripts/jquery.zoom.min.js"></script>
        <script src="javascripts/smooth-scroll.min.js"></script>
        <script src="javascripts/plugins.js"></script>
        <script src="javascripts/main.js"></script>
        <!--
        <script>
        $(document).ready(function(){
            $('div.infoDetalle').attr("data-scroll");

        });
        var scroll = new SmoothScroll("a[href*='#']",{
        });
        </script>

      -->




        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <!--<script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>-->
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
